In [ ]:
#İŞ UYGULAMASI

    PROBLEM : Anasayfada geçirilen süre arttırılmak isteniyor.
    DETAYLAR :
   - Bir web sitesi için başarı kriterleri : ortalama ziyaret süresi , hemen çıkış oranı vb.
   - Uzun zaman geçiren kullanıcıların daha fazla tıkladığı ve markaya olan bağlılıklarının arttığı biliniyor.
   - Buna yönelik olarak benzer haberler farklı resimler ya da farklı formatlarda hazırlanarak oluşturulan test gruplarına gösteriliyor.

In [2]:
import pandas as pd
import numpy as np

In [3]:
A = pd.DataFrame([128, 117, 115, 106, 104, 110, 109, 105, 119, 123, 120, 100, 128, 107, 116, 105, 126, 124, 114, 124, 106, 103, 128, 126, 123])

B = pd.DataFrame([116, 121, 103, 107, 105, 120, 124, 118, 100, 110, 117, 113, 128, 119, 123, 124, 118, 106, 111, 107, 109, 121, 112, 103, 117])

C = pd.DataFrame([130, 112, 120, 130, 123, 107, 107, 121, 112, 110, 114, 101, 107, 114, 122, 117, 114, 104, 119, 126, 119, 130, 118, 105, 125])

dfs = [A, B, C]

ABC = pd.concat(dfs, axis=1)
ABC.columns = ["GRUP_A","GRUP_B","GRUP_C"]
ABC.head()

   GRUP_A  GRUP_B  GRUP_C
0     128     116     130
1     117     121     112
2     115     103     120
3     106     107     130
4     104     105     123

In [4]:
#Varsayım kontrolü

3 adet varsayımda bulunduk.
1. Grupların birbirinden bağımsız olması
2. Normallik varsayımı
3. Varyans homojenliği

In [5]:
from scipy.stats import shapiro

In [6]:
shapiro(ABC["GRUP_A"])

ShapiroResult(statistic=0.9140145778656006, pvalue=0.03749677911400795)

In [7]:
shapiro(ABC["GRUP_B"])

ShapiroResult(statistic=0.9652878046035767, pvalue=0.5294153690338135)

In [8]:
shapiro(ABC["GRUP_C"])

ShapiroResult(statistic=0.9641018509864807, pvalue=0.5020450949668884)

In [11]:
from scipy.stats import levene

In [12]:
levene(ABC["GRUP_A"] , ABC["GRUP_B"], ABC["GRUP_C"] )

LeveneResult(statistic=0.7880721703312644, pvalue=0.4586030667375188)

In [13]:
#Hipotez testi

In [14]:
from scipy.stats import f_oneway

In [15]:
f_oneway(ABC["GRUP_A"] , ABC["GRUP_B"], ABC["GRUP_C"] )

F_onewayResult(statistic=0.4255789328299803, pvalue=0.6550242219789555)

In [16]:
print ('{:.5f}'. format(f_oneway(ABC["GRUP_A"] , ABC["GRUP_B"], ABC["GRUP_C"] )[1]))

0.65502

In [17]:
ABC.describe().T

        count    mean       std    min    25%    50%    75%    max
GRUP_A   25.0  115.44  9.260490  100.0  106.0  116.0  124.0  128.0
GRUP_B   25.0  114.08  7.707788  100.0  107.0  116.0  120.0  128.0
GRUP_C   25.0  116.28  8.487834  101.0  110.0  117.0  122.0  130.0

In [18]:
#NONPARAMETRİK HİPOTEZ TESTİ

In [19]:
from scipy.stats import kruskal

In [20]:
kruskal(ABC["GRUP_A"] , ABC["GRUP_B"], ABC["GRUP_C"] )

KruskalResult(statistic=0.8291206613926004, pvalue=0.6606306758906519)